{
  "presets": [["env", { "targets": { "browsers": "last 2 versions" } }], "stage-0", "react"],
  "env": {
    "development": {
      "plugins": [["flow-runtime"], "transform-decorators-legacy"]
    },
    "production": {
      "plugins": [
        "transform-flow-strip-types",
        ["transform-react-remove-prop-types", { "removeImport": true }]
      ]
    }
  }
}
