{
  "presets": [
    ["@babel/env", {
      "debug": true,
      "targets": {
        "browsers": ["last 2 versions", "ie >= 11"]
      },
      "useBuiltIns": "usage",
      "modules": false
    }],
    "@babel/react"
  ],
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-transform-flow-strip-types"
  ],
  "env": {
    "test": {
      "plugins": [
        "@babel/transform-modules-commonjs"
      ]
    },
    "production": {
      "plugins": [
        "@babel/transform-modules-commonjs"
      ]
    }
  }
}
