:global {
  .page-title {
    font-size: 3rem;
    margin-top: 1rem;
    margin-bottom: .5rem;
    font-weight: 300;
  }
}

.navbar {
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, .1);
  background: rgba(white, .9);
}

.sidebar {
  @media (min-width: 768px) {
    position: sticky;
    top: 56px;
    padding-top: 30px;
    max-height: calc(100vh - 4rem);
    border-right: 1px solid rgba(0,0,0,.1);
  }

  :global {
    .nav > a {
      color: black;
      opacity: .65;
      padding: .25rem 0;
      transition: opacity .3s;

      &:hover {
        opacity: .9;
      }
    }
  }
}

.lead {
  text-align: center;
  font-weight: 300;
  margin-top: 20px;

  p {
    font-size: 1.25rem;
  }
}