{
  "settings": {
    "import/core-modules": ["react-sortly"]
  },
  "rules": {
    "import/no-extraneous-dependencies": ["error", {"devDependencies": ["docs/**/*.js"]}],
    "jsx-a11y/anchor-is-valid": [ "error", {
      "component": ["Link"]
    }]
  }
}
